.hero__container {
  background-image: linear-gradient(
      rgba(36, 42, 46, 0.8),
      rgba(36, 42, 46, 0.8)
    ),
    url("S__11952181.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1000;
  padding-top: 25rem;
}
