*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: #1a3d5a;

  /* Creating animations for dark mode */
  transition: background-color 0.3s, border 0.3s;
}
html {
  font-size: 62.5%;
  font-family: "Prompt", sans-serif;
  position: relative;
}
.flexCenter {
  display: flex;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flexColCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flexColStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.flexColEnd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
